.uk-alert-success.uk-alert {
  text-align: center;
  font-weight: bold;
}

ul#listUser {
  padding: 0;
}

li {
  /* background: #edfbf6; */
  background: #32d296;
  color: #fff;
  list-style: none;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

a {
  display: block;
  background: #000;
  color: #fff;
  list-style: none;
  max-width: 400px;
  padding: 10px;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
}

button.uk-input.uk-button.uk-button-primary {
  margin-bottom: 10px;
}

.uk-notification div{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
